$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;



.background {
    background-color: $background;
    max-width: 1920px;
    margin: 0 auto;
}

.legal-notice {
    padding: 128px;
}

h2,
h3 {
    font-family: Syne;
    margin: 4px 0;
}

p,
li {
    font-family: Overpass;
}

@media(max-width: 768px){
    .legal-notice {
        padding: 128px 64px;
    }
}

@media(max-width: 470px){
    .legal-notice {
        padding: 128px 12px;
    }

    h2,
    h3 {
        font-size: smaller;
    }

    p,
    li {
        font-size: 14px;
    }
}