@use '../../shared/styles/animations';
@use '../../shared/styles/colors' as *;

.skills {
  background-color: $background;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.content-wrapper {
  box-sizing: border-box;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 54px 12px;
  max-width: 1012px;
  overflow: hidden;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
  width: 64px;
  &:hover > p {
    color: $highlight;
  }
}

p {
  font-family: Overpass;
  font-size: 16px;
  font-weight: 700;
  max-width: 100px;
}

.skill-icon {
    width: 54px;
    height: 54px;
}

.contact-me-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin: 24px 0;

}

.skill-name {
  font-size: 16px;
  font-family: Overpass;
}

a {
  text-decoration: none;
  color: $highlight;
}

h1 {
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  background-color: $background;
  font-size: 36px;
  padding: 0 12px;
  font-weight: 800;
  font-family: Syne;
  animation: 3s infinite pulse;
}

// h1:hover {
//     color: $highlight;
//     cursor: default;
// }

@media (min-width: 768px) {
  .icons-wrapper {
    gap: 54px 24px;
    padding: 0 24px;
  }

  h1 {
    font-size: 48px;
  }

  .content-wrapper {
    padding-bottom: 28px;
  }
}

