<section class="skills" id="skills">
  <div class="content-wrapper">
    <div class="headline-wrapper">
      <h1>My skills</h1>
    </div>
    <div class="icons-wrapper">
      <div *ngFor="let skill of skills; let i = index" class="icon-box">
        <img
          [src]="skill.iconUrl"
          alt=""
          class="skill-icon"
          [@iconAnimation]="skill.status"
          (mouseover)="animate(i)"
          (@iconAnimation.done)="animationDone(i)"
        />
        <p>{{ skill.name }}</p>
      </div>
    </div>
    <div class="contact-me-wrapper">
      <img src="/assets/icons/skills/learning.png" alt="" />
      <p>
        Don't see the skill you need? <a href="#contact">Contact me</a> I'm always ready
        to learn!
      </p>
    </div>
  </div>
</section>
<!-- <div class="arrow">
  <img 
  [src]="currentImage"
  alt=""
  (mouseenter)="playAnimation()"
  (mouseleave)="resetAnimation()" 
  />
</div> -->
