<section class="skills" id="skills">
  <div class="content-wrapper">
    <div class="headline-wrapper">
      <h1> {{translations.header}} </h1>
    </div>
    <div class="icons-wrapper">
      <div *ngFor="let skill of skills; let i = index" class="icon-box">
        <img
          [src]="skill.iconUrl"
          alt=""
          class="skill-icon"
          [@iconAnimation]="skill.status"
          (mouseover)="animate(i)"
          (@iconAnimation.done)="animationDone(i)"
        />
        <p class="skill-name">{{ skill.name }}</p>
      </div>
    </div>
  </div>
</section>
<div class="mobile-arrow" *ngIf="imgService.isMobile">
  <img [src]="imgService.currentImageRight" alt="">
</div>
<div class="arrow" *ngIf="!imgService.isMobile">
  <img (mouseenter)="playAnimation()" (mouseleave)="resetAnimation()" [src]="imgService.currentImageRight" alt="" />
</div>
