<section class="popup">
    <div class="link-container">
        <a href="#about-me" (click)="onLinkClicked()" >About me</a>
        <a href="#skills" (click)="onLinkClicked()" >My skills</a>
        <a href="#projects" (click)="onLinkClicked()" >Portfolio</a>
    </div>
    
    <div class="background">
      <div class="container">
        <div class="left-side">
          <h1>Say Hi!</h1>
          <p><a href="mailto:contact@daniel-lehmann.dev">contact&#64;daniel-lehmann.dev</a></p>
        </div>
        <div class="right-side">
          <a href="https://github.com/lehmand" target="_blank"><img src="/assets/icons/socials/github.png" alt="" /></a>
          <a href="mailto:contact@daniel-lehmann.dev"><img src="/assets/icons/socials/email.png" alt="" /></a>
          <a href=""><img src="/assets/icons/socials/linkedin.png" alt="" /></a>
        </div>
      </div>      
    </div>
</section>


