$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;


section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $background;
    position: relative;
    z-index: 100;
}

.background {
    background-image: url('/assets/img/popup-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.left-side {
    color: $background;
    padding: 124px 0px;
}

h1 {
    font-family: Syne;
    font-size: 36px;
    font-weight: 800;
}

h1:hover {
        color: $highlight;
        transition: color 125ms ease-in-out;
        cursor: pointer
}


p {
    font-family: Overpass;
    font-weight: 300;
    font-size: 23px;
    a {
        text-decoration: none;
        color: $background;
    }
}

.right-side {
    display: flex;
    margin-top: 64px;
    gap: 48px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.navigation-link {
    text-decoration: none;
    color: $primary;
    font-family: Syne;
    font-weight: 700;
    font-size: 48px;
    position: relative;
    z-index: 0;
    max-width: 520px;
    width: 100%;
    text-align: center;
}

.contact-link {
    font-size: 16px;
}

.navigation-link::before {
        content: '';
        position: absolute;
        left: 4px;
        bottom: 0;
        height: 24px;
        border-left: 4px solid $primary;
        transition: height ease-in-out 125ms;            
}

.navigation-link::after {
        content: '';
        position: absolute;
        left: 4px;
        bottom: 0;
        width: 24px;
        border-bottom: 4px solid $primary;
        transition: width ease-in-out 125ms, left ease-in-out 125ms;                          
}

// a:hover::before {
//         height: 0;
// }

// a:hover::after {
//         width: 65%;
//         left: 35%;
// }