<section class="popup">
    <div class="link-container">
        <a href="#about-me">About me</a>
        <a href="#skills">My skills</a>
        <a href="#projects">Portfolio</a>
    </div>
    
    <div class="background">
      <div class="left-side">
        <h1>Say Hi!</h1>
        <p>contact&#64;daniel-lehmann.dev</p>
      </div>
      <div class="right-side">
        <a href=""><img src="/assets/icons/socials/github.png" alt="" /></a>
        <a href=""><img src="/assets/icons/socials/email.png" alt="" /></a>
        <a href=""><img src="/assets/icons/socials/linkedin.png" alt="" /></a>
      </div>
    </div>
</section>


