$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

* {
  box-sizing: border-box;
}

.contact {
  background-color: $background;
  background-image: url("/assets/img/contact-background.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 190px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;

      .form-row {
        position: relative;

        input {
          box-sizing: border-box;
          padding: 16px 8px;
          outline: none;
          background-color: transparent;
          border-top: 4px solid transparent;
          border-left: transparent;
          border-right: transparent;
          border-bottom: 2px solid $background;
          color: $background;
          max-height: 34px;
          max-width: 593px;
          font-size: 16px;
          font-family: Overpass;

          &:hover {
            border: 4px solid $background;
            transition: border 125ms ease-in-out;
          }

          &:hover + label {
            top: 11px;
            transition: top 125ms ease-in-out;
          }

          &:focus + label {
            top: -8px;
            left: 24px;
            background-color: $primary;
            transition: all 125ms ease-in-out;
            padding: 0 4px;
          }
        }

        label.name,
        label.email,
        label.message {
          font-family: Overpass;
          font-size: 16px;
          color: $background;
          position: absolute;
          left: 16px;
          top: 6px;
          cursor: text;
        }

        label.checkbox {
          font-family: Overpass;
          font-size: 16px;
          color: $background;
        }

        textarea {
          outline: none;
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $background !important;

          &:hover {
            border: 4px solid $background;
            transition: border 125ms ease-in-out;
          }

          &:hover + label {
            top: 10px;
          }

          &:focus + label {
            top: -8px;
            left: 24px;
            background-color: $primary;
            transition: all 125ms ease-in-out;
            padding: 0 4px;
          }
        }
      }

      .button-container {
        display: flex;
        justify-content: center;

          button {
            padding: 20px 60px;
            border: 4px solid #BBBBBB;
            background-color: transparent;
            opacity: 50%;
            color: $background;
            font-family: Overpass;
            font-size: 23px;
          }
      }
    }
  }

  h1 {
    color: $background;
    position: absolute;
    left: 128px;
    top: 190px;
    font-size: 78px;
    font-family: Syne;
    font-weight: 800;
  }

  .form-header {
    text-align: center;
    h2 {
      color: $highlight;
      font-size: 32px;
      font-weight: 700;
      font-family: Overpass;
    }

    h3 {
      color: $background;
      font-size: 22px;
      font-weight: 400;
      font-family: Overpass;
    }
  }
}
