$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

* {
  box-sizing: border-box;
}

.contact {
  background-color: $background;
}

.submit-message-container {
  display: flex;
  justify-content: center;
}

.submit-message {
  color: $background;
  text-align: center;
  font-family: Overpass;
  font-size: 22px;
  font-weight: 400;
  background-color: $highlight;
  max-width: 512px;
  width: 100%;
  border-radius: 4px;
  padding: 4px;
}

.background {
  background-image: url("/assets/img/contact-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: $background;
    font-size: 78px;
    font-weight: 800;
    font-family: Syne;
    position: relative;
    padding: 256px 0 48px 164px;
    left: 0;
    &:hover {
      color: $highlight;
      cursor: default;
      transition: color 125ms ease-in-out;
    }
  }
}

.top-arrow {
  position: absolute;
  right: 124px;
  bottom: 64px;
  height: 76px;
  width: 54px;
}

.form-header {
  text-align: center;
  h2 {
    color: $highlight;
    font-size: 32px;
    font-weight: 700;
    font-family: Overpass;
  }

  h3 {
    color: $background;
    font-size: 22px;
    font-weight: 400;
    font-family: Overpass;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  max-width: 612px;
  width: 100%;
}

.form-row {
  position: relative;
  img {
    position: absolute;
    z-index: 10;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-bottom: 2px solid $background;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  &:hover::after {
    height: 100%;
    border: 4px solid $background;
  }

  input {
    padding: 8px 16px;
    outline: none;
    background-color: transparent;
    border: none;
    color: $background;
    font-size: 16px;
    font-family: Overpass;
    position: relative;
    z-index: 1;
    width: 100%;

    &:focus + label,
    &:valid + label {
      top: -16px;
      left: 24px;
      background-color: $primary;
      transition: all 175ms ease-in-out;
      padding: 0 4px;
      z-index: 2;
    }
  }

  input.ng-touched + label {
    top: -16px;
    left: 24px;
    background-color: $primary;
    padding: 0 4px;
    z-index: 2;
  }

  label.name,
  label.email,
  label.message {
    font-family: Overpass;
    font-size: 16px;
    color: $background;
    position: absolute;
    left: 16px;
    top: 6px;
    cursor: text;
  }

  textarea {
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-family: Overpass;
    padding: 8px 32px 8px 16px;


    &:hover {
      cursor: text;
    }

    &:focus + label,
    &:valid + label {
      top: -16px;
      left: 24px;
      background-color: $primary;
      padding: 0 4px;
      transition: all 125ms ease-in-out;
      z-index: 1;
    }
  }

  textarea.ng-touched + label {
    top: -16px;
    left: 24px;
    background-color: $primary;
    padding: 0 4px;
    z-index: 2;
  }
}

.checkbox-row {
  display: flex;
  position: relative;
  align-items: center;
  top: 0;
  left: 0;
  gap: 16px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  min-width: 14px;
  min-height: 14px;
  background-color: transparent;
  z-index: 0;
  cursor: pointer;
}

.custom-checkbox:hover + label.privacy > a {
  text-shadow: 0 0 1px $highlight;
}

.custom-checkbox::before {
  content: "";
  border: 2px solid $background;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 2px;
  z-index: 2;
}

.custom-checkbox.checked {
  background-image: url("/assets/img/checked.png");
}

.custom-checkbox::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $highlight;
  position: absolute;
  z-index: 1;
  padding: 4px;
  left: -2px;
  top: -2px;
  border-radius: 8px;
  opacity: 0;
}

.custom-checkbox:hover::after {
  opacity: 100;
  transition: all 125ms ease-in-out;
}

.custom-checkbox.checked:hover::after {
  background-image: url("/assets/img/checked-hover.png");
  background-position: -1px -1px;
}

.privacy {
  color: $background;
  font-family: Overpass;
  position: relative;
  bottom: -4px;
  a {
    color: $highlight;
    text-decoration: none;
  }
}

.error-message {
  p {
    color: red;
    font-family: Overpass;
    font-size: 12px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;

  button {
    padding: 20px 60px;
    border: 4px solid #bbbbbb;
    background-color: transparent;
    opacity: 100%;
    color: $background;
    font-family: Overpass;
    font-size: 23px;
    z-index: 1;
    cursor: pointer;

    &:hover:not(.button-mobile) {
      padding: 20px 80px;
      transition: padding 125ms ease-in-out;
    }

    &:disabled {
      padding: 20px 60px;
      border: 4px solid #bbbbbb;
      background-color: transparent;
      opacity: 50%;
      color: $background;
      font-family: Overpass;
      font-size: 23px;
    }
  }
}

.button-mobile {
  display: none;
}

@media (max-width: 768px) {
  .background {
    h1 {
      font-size: 64px;
      padding: 128px 0 48px 64px;
    }
  }
}

@media (max-width: 680px) {
  .background {
    h1 {
      font-size: 64px;
      padding: 128px 0 32px 64px;
    }
  }

  form {
    max-width: 512px;
  }
}

@media (max-width: 550px) {
  form {
    max-width: 368px;
  }

  .form-header {
    padding: 0 64px;
    h2 {
      line-height: 38px;
      margin-bottom: 4px;
    }
  }

  .submit-message {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .background {
    h1 {
      font-size: 48px;
      padding: 128px 0 32px 24px;
    }
  }

  .form-header {
    padding: 0 24px;
  }
}

@media (max-width: 400px) {
  form {
    max-width: 288px;
  }
  .background {
    h1 {
      font-size: 40px;
    }
  }

  .button-container {
    .button-desktop {
      display: none;
    }

    .button-mobile {
      display: initial;
    }
  }

  .submit-message {
    font-size: 14px;
  }
}
