<section class="projects" id="projects">
  <div class="heading">
    <h1>Portfolio</h1>
    <h3>
      Explore a selection of my work here - Interact with projects to see my
      skill in action
    </h3>
  </div>

  <div class="project-wrapper">
    <div
      *ngFor="let project of projects; let i = index"
      [ngClass]="getProjectClass(i)"
      class="project"
    >
      <h1 class="project-number">{{ project.projectNumber }}</h1>
      <div class="project-image">
        <img
          class="rotate-arrow"
          src="/assets/icons/animations/black-arrow.png"
          alt=""
        />
        <img [src]="project.image" alt="" />
      </div>

      <div class="project-info">
        <h1>{{ project.name }}</h1>
        <h2>{{ project.tools }}</h2>
        <p>{{ project.description }}</p>
        <div class="link-container">
          <a [href]="project.live" target="_blank">Live</a>
          <a [href]="project.link" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
</section>
