<section class="projects">
    <div class="heading">
        <h1>Portfolio</h1>
        <h3>Explore a selection of my work here - Interact with   projects to see my skill in action</h3>
    </div>

    <div class="project-wrapper">
        <div *ngFor="let project of projects; let i = index" [ngClass]="getProjectClass(i)" class="project">            
            <div class="project-image">
                <img [src]="project.image" alt="">
            </div>
            <div class="project-info">
                <h1 class="project-number"> {{project.projectNumber}} </h1>
                <h1> {{project.name}} </h1>
                <h2> {{project.tools}} </h2>
                <p> {{project.description}} </p>
                <button><a [href]="project.link"></a>Github</button>
            </div>
        </div>
    </div>
</section>
