$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
  max-width: 1920px;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-family: Syne;
  font-weight: 800;
  font-size: 28px;
  transition: color 125ms ease-in-out;
  &:hover {
    cursor: default;
    color: $highlight;
  }
}

h3 {
  font-family: Overpass;
  font-size: 16px;
  max-width: 525px;
  text-align: center;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  gap: 32px;
}

.project-number {
  font-family: Syne;
  font-size: 24px;
}

.project {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 254px;
  gap: 8px;
}

.odd-project > .project-number {
  display: flex;
  justify-content: flex-end;
}

.odd-project > .project-info {
  text-align: right;
}

.odd-project > .project-info > .link-container {
  justify-content: flex-end;
}

.odd-project > .project-image > .rotate-arrow {
  top: calc(50% + 4px);
  left: -4px
}

// .project:hover > .project-image > .rotate-arrow {
//   scale: 1;
//   rotate: 0deg;
//   transition: scale 250ms ease-in-out 50ms normal,
//     rotate 125ms ease-in-out 250ms normal;
// }

// .project:hover > .project-image {
//   filter: grayscale(0);
//   transition: filter 250ms ease-in-out;
// }

.project > .project-image::after {
  top: 4px;
  left: 1px;
  opacity: 1;
  transition: all 75ms ease-in-out;
}

.odd-project > .project-image::after {
  top: 4px;
  left: -6px;
  opacity: 1;
  transition: all 75ms ease-in-out;
}

// .project:hover > .project-info {
//   transform: translateX(0);
//   display: flex;
//   opacity: 100;
//   transition: transform 125ms ease-in-out, opacity 125ms ease-in-out 20ms;
// }

.project-image {
  position: relative;
  max-width: 254px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.project-image::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid $primary;
  opacity: 1;
}

.rotate-arrow {
  position: absolute;
  z-index: 10;
  top: calc(50% + 4px);
  left: calc(100% + 4px);
  transform: translateY(-50%) translateX(-50%) rotate(135deg) scale(0.35);
}

.project-img {
  width: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.portfolio-header {
  font-family: Syne;
  font-weight: 800;
  font-size: 36px;
}

h2 {
  font-family: Overpass;
  font-size: 16px;
  color: $highlight;
}

p {
  font-family: Overpass;
  font-size: 14px;
  max-width: 400px;
}

.link-container {
  display: flex;
  max-height: 80px;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
  padding: 4px 24px;
  font-family: Overpass;
  font-size: 16px;
}
