<section class="projects" id="projects">
  <div class="heading">
    <h1 class="portfolio-header">Portfolio</h1>
    <h3> {{translations.heading.h3}} </h3>
  </div>

  <div class="project-wrapper">
    <div
      *ngFor="let project of projects; let i = index"
      [ngClass]="getProjectClass(i)"
      class="project">
      <h1 class="project-number">{{ project.projectNumber }}</h1>
      <div class="project-image">
        <img
          class="rotate-arrow"
          src="/assets/icons/animations/black-arrow.png"
          alt=""
        />
        <img class="project-img" [src]="project.image" alt="" />
      </div>

      <div class="project-info">
        <h1 [class.videoflix]="project.name === 'videoflix'">{{ project.name }}</h1>
        <h2>{{ project.tools }}</h2>
        <p> {{getDescription(i)}} </p>
        <div class="link-container">
          <a [href]="project.live" target="_blank">Live</a>
          <a [href]="project.link" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
</section>
