$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

header {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 128px;
    background-color: $background;

    .header-logo h1 {
        font-family: Syne;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }

    .burger-menu img {
        height: 32px;
        cursor: pointer;
    }
}

app-menu {
    position: fixed;
    z-index: 10;
    top: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;
}
