$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;


* {
    box-sizing: border-box;
}

header {
    background-color: $background;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;

    .header-logo {
        a {
            text-decoration: none;
            color: $primary;
        }
    }
}

app-menu {
    position: fixed;
    z-index: 100;
    top: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;
}

@media(max-width: 768px){
  .container {
    padding: 16px 64px;
  }
}

@media(max-width: 530px){
    .container {
        padding: 16px 32px;
      }
}
