$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;


.legal {
    padding: 128px;
    background-color: $background;
}

h2 {
    margin: 8px 0;
}

h3 {
    margin: 4px 0;
}


@media (max-width: 768px) {
    .legal {
        padding: 64px;
    }
}

@media (max-width: 480px) {
    .legal {
        padding: 24px;
    }
}