<section class="about-me" id="about-me">
  <h1>About me</h1>
  <div class="description">
    <div class="text">
      <pre>
I am a Front-end developer from Mannheim, Germany. I help
designers and companies to bring their ideas to real life.
Creativity and logical thinking are skills that I have developed
to connect ideas into quality products.
If you think I'd be a good match for your projects, contact me!</pre>
      <div class="location">
        <img src="/assets/icons/house.png" alt="" />
        <p>Based in Mannheim</p>
      </div>
      <div class="optional">
        <img src="/assets/icons/laptop.png" alt="" />
        <p>Open to work Remote</p>
      </div>
      <div class="button">
        <a href="#contact">Let's talk</a>
      </div>
    </div>
    <div class="img">
      <img class="profile-img" src="/assets/img/profile.jpg" alt="" />
    </div>
  </div>
</section>
<div class="arrow">
  <img (mouseenter)="toggleAnimation()" (mouseleave)="resetAnimation()" [src]="currentImage" alt="" />
</div>
