<section class="about-me" id="about-me">
  <h1> {{translations.header}} </h1>
  <div class="description">
    <div class="text">
      <p> {{translations.subText}} </p>
      <div class="button">
        <a href="#contact"> {{translations.button}} </a>
      </div>
    </div>
    <div class="img">
      <img class="profile-img" src="/assets/img/profile.jpg" alt="" />
    </div>
  </div>
</section>
<div class="mobile-arrow" *ngIf="imgService.isMobile">
  <img [src]="imgService.currentImageLeft" alt="">
</div>
<div class="arrow" *ngIf="!imgService.isMobile">
  <img (mouseenter)="toggleAnimation()" (mouseleave)="resetAnimation()" [src]="imgService.currentImageLeft" alt="" />
</div>
 