@use "../../shared/styles/animations";
@use "../../shared/styles/colors" as *;

.about-me {
  background-color: $background;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  align-items: center;
}

h1 {
  font-family: Syne;
  font-weight: 800;
  font-size: 36px;
  animation: 3s infinite pulse;
  cursor: default;
}

.description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}

.text {
  p {
    font-size: 22px;
    font-family: Overpass;
    max-width: 600px;
  }
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  align-self: center;
}

.img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid $primary;
  animation: 3s infinite pulse-border;
}

.mobile-arrow {
  display: flex;
  justify-content: center;
}


@keyframes pulse-border {
  0% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  10% {
    top: 4px;
    left: 6px;
    opacity: 100;
  }
  100% {
    top: 4px;
    left: 6px;
    opacity: 0;
  }
}

.profile-img {
  width: 100%;
}

.button {
  display: none;
  justify-content: center;
}

a {
  border: 4px solid black;
  background-color: transparent;
  padding: 20px 60px;
  font-family: Overpass;
  font-size: 23px;
  cursor: pointer;
  text-decoration: none;
  color: $primary;
}

a:hover {
  border-color: $highlight;
  background-color: $highlight;
  color: $background;
  transition: all 125ms ease;
}

@media (min-width: 768px) {
  .description {
    flex-direction: row;
    gap: 48px;
    width: 100%;
  }
  h1 {
    font-size: 48px;
  }
  .mobile-arrow {
    display: flex;
    justify-content: flex-end;
  }
  .about-me {
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .button {
    display: flex;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  h1 {
    font-size: 68px;
    color: black;
    animation: unset;
    transition: color ease-in-out 125ms;
    &:hover {
      color: $highlight;
    }
  }
  .text {
    p {
      font-size: 24px;
    }
  }
  .img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 4px solid $primary;
    animation: unset;
    opacity: 0;
  }
  .img:hover::after {
    left: 8px;
    top: 8px;
    opacity: 1;
    transition: left 125ms ease 200ms, top 125ms ease 200ms, opacity 125ms ease;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 78px;
  }
}
