$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

.about-me {
  background-color: $background;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-family: Syne;
  font-weight: 800;
  font-size: 36px;
  &:hover {
    color: $highlight;
    transition: color ease-in-out 125ms;
  }
}

.description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}

.text {
  p {
    font-size: 22px;
    font-family: Overpass;
    max-width: 600px;
  }
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  align-self: center;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 3px solid $primary;
    transition: all ease-in-out 75ms;
    opacity: 0;
  }
  &:hover::after {
    top: 4px;
    left: 6px;
    opacity: 100;
  }
}

.profile-img {
  width: 100%;
}

.button {
  display: none;
  justify-content: center;

  a {
    border: 4px solid black;
    background-color: transparent;
    padding: 20px 60px;
    font-family: Overpass;
    font-size: 23px;
    cursor: pointer;
    transition: padding ease-in-out 100ms;
    text-decoration: none;
    color: $primary;
    &:hover {
      padding: 20px 80px;
      text-shadow: 0 0 1px $primary;
    }
  }
}

.arrow {
  
}
