$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;


section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        a {
            text-decoration: none;
            color: $primary;
            font-family: Syne;
            font-weight: 700;
            font-size: 96px;
            position: relative;
            border-bottom: 4px solid $primary;
            border-left: 4px solid $primary;
            z-index: 0;
            padding: 16px 32px;
            max-width: 520px;
            width: 100%;
            text-align: center;
            

            &::before {
                content: '';
                position: absolute;
                background-color: $background;
                height: 75%;
                width: 8px;
                left: -4px;
                bottom: 25%;
                transition: all ease-in-out 125ms;
            }

            &::after {
                content: '';
                position: absolute;
                left: 10%;
                bottom: -4px;
                width: 95%;
                height: 4px;
                background-color: $background;
                z-index: 10;                
            }

            &:hover::after {
                display: none;
            }
        }
    }

}