$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

.hero {
  height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 128px;

  .hero-text {

    h1 {
      font-family: Syne;
      font-weight: 800;
      font-size: 128px;
    }
  }

  .hero-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 1000px;

    .line {
      border: 2px solid black;
      width: 100%;
    }

    .name {
      font-family: Overpass;
      color: $highlight;
      font-size: 48px;
      white-space: nowrap;
    }
  }
}

.contact-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 128px;

  a.email {
    text-decoration: none;
    rotate: (270deg);
    color: $primary;
    font-size: 22px;
    font-family: Overpass;
    rotate: (270deg);
    position: absolute;
    left: 0;
  }

  .scroll-down {
    text-align: center;    
  }
}

.arrow {
  overflow-y: hidden;
  img {
    height: 128px;
    animation: arrowAnimation 2000ms infinite ease-in-out;    
  }
}

@keyframes arrowAnimation {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100%);
  }
}

.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
      font-weight: 300;
      font-family: Overpass;
      font-size: 22px;
      max-width: 90px;
  }

  
}

.mobile-button {
  display: none;
  margin-top: 64px;

  a {
    text-decoration: none;
    color: $primary;
    border: 4px solid $primary;
    padding: 20px 60px;
    font-family: Overpass;
    font-size: 23px;
  }
}

@media(max-width: 1250px){
  .hero {
    .hero-text{
      h1 {
        font-size: 96px;
      }
    }

    .hero-name {
      max-width: 750px;
      .name {
        font-size: 40px;
      }
    }
  }
}

@media(max-width: 920px){
  .hero {
    .hero-text{
      h1 {
        font-size: 80px;
      }
    }

    .hero-name {
      max-width: 580px;
      .name {
        font-size: 32px;
      }
    }

    .contact-container {
      position: relative;
      bottom: -96px;

      a {
        left: -128px;
      }
    }
  }
}

@media(max-width: 768px){
  .hero {
    padding: 0 80px;
    .hero-text{
      h1 {
        font-size: 64px;
      }
    }
    .hero-name {
      .name {
        font-size: 28px;
      }
    }
    .contact-container {
      bottom: 0;
    }
  }

}

@media(max-width: 680px){
  .hero {
    padding: 0 24px;
    .hero-text{
      h1 {
        font-size: 64px;
      }
    }
    .hero-name {
      .name {
        font-size: 28px;
      }
    }
  }
}

@media(max-width: 530px){
  .hero {
    padding: 0 24px;
    .hero-text{
      h1 {
        font-size: 48px;
      }
    }
    .hero-name {
      max-width: 400px;
      .name {
        font-size: 24px;
      }
    }
    
    .mobile-button {
      display: block;
      a {
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 420px){
  .hero {
    .hero-text{
      h1 {
        font-size: 32px;
      }
    }
    .hero-name {
      max-width: 256px;
      .name {
        font-size: 16px;
      }
    }
  }

}


@media(max-width: 1050px){
  
}
