<div class="hero" id="top">
  <div class="top-content">
    <div class="hero-text">
      <h1>Fullstack Developer</h1>
    </div>
    <div class="hero-name">
      <div class="line"></div>
      <h2 class="name">Daniel Lehmann</h2>
    </div>
  </div>
  <div class="mobile-button">
    <a href="#contact">{{ translations.sendMessageButton }}</a>
  </div>
  <div class="bottom-content">
    <div class="contact-container">
        <a class="email" href="mailto:contact@daniel-lehmann.dev"> {{ email }} </a>
    
        <div class="scroll-down">
          <div class="animation-container">
              <div class="arrow">
                <img src="/assets/icons/animations/scroll-down/scroll-down.png" alt="">
              </div>
              <h2>{{ translations.scrollDownText }}</h2>
          </div>
        </div>
    </div>
  </div>
</div>
