$background: #fffcf3;
$primary: #000000;
$highlight: #00bc8f;

footer {
  box-sizing: border-box;
  background-color: black;
  padding: 32px 128px;
  gap: 8px;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.top-side {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: $background;
  font-family: Syne;
}

.social-links {
  display: flex;
  gap: 16px;
}

.bottom-side {
  display: flex;
  justify-content: space-between;
  font-family: Overpass;
}

p {
  color: $background;
  font-size: 16px;
}

.legal-container {
  a {
    text-decoration: none;
    color: $background;
  }
}
